:root {
  --color-coral: #f87070;
  --color-aqua: #70f3f8;
  --color-magenta: #d881f8;
  --color-lavender: #d7e0ff;
  --color-midnight: #1e213f;
  --color-white: #fff;
  --color-flash-white: #eff1fa;
  --color-dark: #161932;
}
